body{
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.home{
  display: flex;
  margin-top: 20px;
}

.home div:nth-child(1){
  flex: .5;
}

.home div:nth-child(2){
  flex: 2;
}